.App{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #d0e6df;
    color: #777e8c;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
    align-items: center;
    justify-content: center
}